lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

*.swp
*.swo

pids
logs
results

data/main

.DS_Store
node_modules
npm-debug.log

lib/Default
lib/PepperFlash/
node_modules
lib/Local*
lib/Safe*
lib/SingletonLock
lib/Cert*